.nav-link {
  color: lime;
}

.navbar {
  background-color: black;
}

body {
  background-color: black;
}

footer {
  margin-left: 10px;
}

#nevPic {
  image-rendering: auto;
  filter: grayscale();
  opacity: 0.7;
  transform: translate(7%, -75%);
  position: relative;
  z-index: 1;
}

#nevIntro {
  margin-top: 80px;
  margin-left: 35%;
  position: relative;
  z-index: 2;
  color: rgb(162, 162, 162);
}

.smallTitle {
  color: rgb(57, 231, 57);
}

ul {
  list-style-type: none;
  margin-left: -30px;
}

#myKnowledge {
  margin-top: -210px;
  margin-bottom: 50px;
}

.aboutNev {
  margin-top: 80px;
  padding-right: 15px;
}

.bigTitle {
  font-size: 95px;
  margin-left: 10px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-stretch: expanded;
  color: whitesmoke;
}

#workInfo {
  margin-top: 80px;
  margin-bottom: 80px;
}

#myProjects {
  margin-top: 80px;
  margin-bottom: 150px;
}

.link {
  color: #9c8cc6;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #9c8cc6;
}

a:hover {
  color: limegreen;
}

.footerLink {
  color: lime;
}

.cardIcon {
  color: magenta;
  text-align: center;
  font-size: xx-large;
}

.col-sm-4 {
  margin-top: 2rem;
}
